.Rproj.user
.Rhistory
.RData
.Ruserdata
ownCodebook.pdf
ownCodebook.nb.html
BerJoi.RData
heatmap_better.pdf
Rplot.png
Rplot01.pdf
workWithCPD.R
erdda2014-Bergmann2019_merged.dta
combo.RData
Untitled.RData
svm-latex-article2.tex
hausarbeit.pdf
hausarbeit.tex
sbAll.RData
correlation_heatmap_sbAll.png
BergmannERDDA.f.RData
